@import "reset-css/reset.css";

:global {
  html, body, #root {
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  html {
    box-sizing: border-box;
  }
}

body {
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, button, input, select, option, textarea {
  outline: none;
  border: 0;
}

button {
  background-color: transparent;
  padding: 0;
}

input {
  appearance: none;
  -webkit-border-radius: 0;
}

button::-moz-focus-inner {
  border: 0;
}

input[type="file"] {
  display: none;
}

a img {
  border: 0;
}
