<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta charset="utf-8">
    <title>Phaser.js</title>
    <link rel="stylesheet" href="/public/fonts/fonts.css">
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <link rel="apple-touch-icon" href="/public/apple-touch-icon.png" />
    <link rel="manifest" href="/public/site.webmanifest" crossorigin="use-credentials" />
</head>
<body>
</body>
</html>
